{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 
{% block content %}
<title>Lighthouse - Login</title>

<style>


  .navbar-dark{
    display: none;
  }
  
  .expandlanding{
    width: 20%;  background-color: #ffffff;
    transition: ease-in-out 1s
  }
  
  .shade:hover .expandlanding {
    width: 100%;
    transition: ease-in-out 1s
  }
  
  .form-control{
  background-color: rgb(0, 0, 0,0.5);
  border: 1px solid rgb(255, 255, 255,0.4) !important;
  color: white;
  }
  input[type=text]:focus{
    outline: none;
    background-color: rgb(0, 0, 0,0.2);
  }
  input[type=password]:focus{
    outline: none;
    background-color: rgb(0, 0, 0,0.2);
  }
  
  
  
  </style>
  
  
  
  <section style="background-image: url(/static/images/main.jpg); background-repeat: no-repeat; height: 100vh; background-size: cover;">
  <div class="container-fluid">
    <div class="row" style="position: relative;">
      <div class="col-4" style="position: absolute;">
        <img src="https://see.fontimg.com/api/renderfont4/X3Wxo/eyJyIjoiZnMiLCJoIjo3OCwidyI6MTAwMCwiZnMiOjc4LCJmZ2MiOiIjRkZGRkZGIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/TElHSFRIT1VTRQ/despairs.png" style="width: 100%; margin: 30px;" alt="">
      </div>
      <div class="col-4 text-center shade" style="position: absolute;right: 0;background-color: rgb(0, 0, 0,0.5); padding-top:70px;padding-bottom: 50px;">
        
        <h4 class="control-label" style="font-size: 20pt;">LOGIN</h4>
        <div class="expandlanding" style="height: 2px; margin: auto;margin-top: 20px;">
  
        </div>
        <form method = "POST">
        <div class="form-group"  style="margin-top: 20px;" >
          {{ wtf.form_field(form.username) }}
        
          {{ wtf.form_field(form.password) }}
          <input class="btn btn-primary" type="submit" style="margin-top: 20px;" value="SIGN IN">
          </div>
          </form>

          




    </div>
  </div>
  </div>
  
  </section>
  
{% endblock %}











