
{% extends "base.html" %} 

{% block content %}
<title>Lighthouse - Listing</title>
<section style="background-image: url(/static/images/all_bg.jpg); background-repeat: no-repeat;background-attachment: fixed;background-size: cover;min-height: 100vh; max-height: 100%;">
  <div style="min-height: 100vh; max-height: 100%;width: 100%;background-color: rgba(0, 0, 0, 0.5);">
<br>

<!--View Modal-->
<div class="modal" id="viewModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title oswald" style="color: white;padding-left: 5px;padding-top: 8px;" id="refno"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <div class="container unselectable oswald" id="display" style="border-radius: 5px;background-color: transparent;border-color: black; color: #fff; font-family: 'Oswald';">
          <br>
        
       

          <div class="row">
            <div class="col">
              <div id="images" style="height: 210px; background-color: white;"></div>
            </div>
          </div>
          <table class="table" style="background-color: white;">
            <tbody>
        <tr>
          <td>
            <label class="label_head">Status: </label>
            <label class="label_entry" id="status"></label>
          </td>
          <td>
            <label class="label_head">Emirates: </label>
            <label class="label_entry" id="city"></label>
          </td>
          <td>
            <label class="label_head">Type: </label>
            <label class="label_entry" id="type"></label>
          </td>
          <td>
            <label class="label_head">Subtype: </label>
            <label class="label_entry" id="subtype"></label>
          </td>
        </tr>
          <tr>
          <td>
            <label class="label_head">Price: </label>
            <label class="label_entry" id="price"></label>
          </td>
          <td>
            <label class="label_head">Build Area: </label>
            <label class="label_entry" id="size"></label>
          </td>
          <td>
            <label class="label_head">Commission: </label>
            <label class="label_entry" id="commission"></label>
          </td>
          <td>
            <label class="label_head">Deposit: </label>
            <label class="label_entry" id="deposit"></label>
          </td>
        </tr>
        <tr>
          <td>
            <label class="label_head">Plot Size: </label>
              <label class="label_entry" id="plot_size"></label>
            </td>
          <td>
            <label class="label_head">Baths: </label>
            <label class="label_entry" id="bathrooms"></label>
          </td>
          <td>
            <label class="label_head">Beds: </label>
            <label class="label_entry" id="bedrooms"></label>
          </td>
          <td>
            <label class="label_head">Permit No: </label>
            <label class="label_entry" id="permit_number"></label>
          </td>
          </tr>
        <tr>
          <td>
            <label class="label_head">Title: </label>
            <label class="label_entry" id="title"></label>
          </td>
          <td>
            <label class="label_head">Location: </label>
            <label class="label_entry" id="building"></label>
          </td>
          <td>
            <label class="label_head">Unit: </label>
            <label class="label_entry" id="unit"></label>
          </td>
          <td>
            <label class="label_head">Community: </label>
            <label class="label_entry" id="locationtext"></label>
          </td>
          </tr>
        <tr>
            <td class="label_head" colspan="4">
              <label>Description: </label>
              <label class="label_entry" id="description"></label>
            </td>
        
          </tr>
        <tr>
          <td>
            <label class="label_head">Owner ID: </label>
            <label class="label_entry" id="owner"></label>
          </td>
          <td>
            <label class="label_head">Owner Name: </label>
            <label class="label_entry" id="owner_name"></label>
          </td>
          <td>
            <label class="label_head">Owner Email: </label>
            <label class="label_entry" id="owner_email"></label>
          </td>
          <td>
            <label class="label_head">Owner Contact: </label>
            <label class="label_entry" id="owner_contact"></label>
          </td>
        </tr>
        <tr>
          <td>
            <label class="label_head">Assign To: </label>
            <label class="label_entry" id="assign_to"></label>
          </td>
          <td>
            <label class="label_head">Source: </label>
            <label class="label_entry" id="source"></label>
          </td>
          <td>
            <label class="label_head">Expiry: </label>
            <label class="label_entry" id="expiry_date"></label>
          </td>
          <td>
            <label class="label_head">Featured: </label>
            <label class="label_entry" id="featured"></label>
          </td>
        </tr>
        <tr>
          <td>
            <label class="label_head">Completion Status: </label>
            <label class="label_entry" id="completion_status"></label>
          </td>
          <td>
            <label class="label_head">Tenure: </label>
            <label class="label_entry" id="tenure"></label>
          </td>
          <td>
            <label class="label_head">Tenant: </label>
            <label class="label_entry" id="tenant"></label>
          </td>
          <td>
            <label class="label_head">Rent Price Term: </label>
            <label class="label_entry" id="rentpriceterm"></label>
          </td>
        </tr>
        <tr>
          <td class="label_head" colspan="2">
            <label>Parking: </label>
            <label class="label_entry" id="parking"></label>
          </td>
          <td class="label_head" colspan="2">
            <label>Furnished: </label>
            <label class="label_entry" id="furnished"></label>
          </td>
          </tr>
        <tr>
          
        </tr>
        </tbody>
        </table>
        
        </div>
        <br>
  
        
        

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Notes Modal-->
<div class="modal" id="notesModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title oswald">NOTES</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container unselectable oswald" id="notes" style="background-color:rgba(0, 0, 0, 0.2);font-family: 'Oswald';">
          <div class="row justify-content-center">
            <div class="col-12">
              <div id="notetoolbar">
                
              </div>
                <table id="notetable"        
                data-toggle="true"
                data-toolbar="#notetoolbar"
                data-search="true"
                class="oswald"
                data-show-columns="true"
                data-pagination="true"
                data-height="350"
                style="font-size: 10pt;">
                  <thead>
                      <tr>
                          <th data-field="date">DATE</th>
                          <th data-field="time">TIME</th>
                          <th data-field="user">USER</th>
                          <th data-field="comment">COMMENT</th>
                      </tr>
                  </thead>
              </table>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-11">
              <input type="hidden" id="list_id">
              <input class="form-control" type="text" id="comment">
              <button onclick="post_note()" class="btn btn-primary" style="margin-top: 20px; border: hidden; border-radius: 0px; color: white; margin-bottom: 20px;">Post</button>
            </div>
          </div>
          </div>
          
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Viewing Modal-->
<div class="modal" id="viewingModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title oswald">Viewings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
<div class="container" style="margin-bottom: 20px;">
  <div class="row">
    <div class="col">
      <h4 style="color: white;padding-left: 5px;padding-top: 8px; font-family: 'Oswald';">Viewing Requests</h4>
    </div>
 </div>
        <table id="viewing" class="oswald" data-height="460" data-id-field="id">
          <thead>
              <tr>
                  <th data-field="id">ID</th>
                  <th data-field="username">Agent</th>
                  <th data-field="status">Status</th>
                  <th data-field="lead">lead</th>
                  <th data-field="datetime">Date & Time</th>
                  <th data-field="min_price">Min Price</th>
                  <th data-field="max_price">Max Price</th>
                  <th data-field="min_room">Min Rooms</th>
                  <th data-field="max_room">Max Rooms</th>
                  <th data-field="area">Area</th>
                  <th data-field="specific_area">Specific Area</th>
                  <th data-field="assigned">Assign Viewing</th>
              </tr>
          </thead>
          </table>
  </div>

      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>








  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Assign Viewing</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
          <input type="text" name="assign_id" id="assign_id" disabled value="" style="color: white;background-color: transparent;">
          <input type="text" name="assign_id" id="assign_lead" disabled value="" style="color: white;background-color: transparent;">
      <div id="property_toolbar">
          <button id="reset" type="button" class="btn btn-primary" style="float: left; margin-right: 5px;">Reset</button>
          <button id="pr" type="button" class="btn btn-primary" style="float: left; margin-right: 5px;">Search</button>
          <input class="form-control" style="float: left; width: 100px;margin-right: 5px;" type="text" id="mil" placeholder="Min Price">
          <input class="form-control" style="float: left; width: 100px; margin-right: 5px;" type="text" id="mal" placeholder="Max Price" >
          <select name="type" id="ty" style="float: left;width: 100px;" class="form-control"><option selected="selected" value="">Type</option><option value="Villa">Villa</option><option value="Apartment">Apartment</option><option value="Residential Floor">Residential Floor</option><option value="Residential Plot">Residential Plot</option><option value="Townhouse">Townhouse</option><option value="Residential Building">Residential Building</option><option value="Penthouse">Penthouse</option><option value="Villa Compound">Villa Compound</option><option value="Hotel Apartment">Hotel Apartment</option><option value="Office">Office</option><option value="Other">Other</option></select>
      </div>
        <table id="property_table"        
        data-toggle="true"
        data-toolbar="#property_toolbar"
        data-search="true"
        data-show-columns="true"
        data-pagination="true"
        data-page-size="25"
        data-page-list="[25, 50, 100, 200, All]">
          <thead>
          <tr>
              <th data-checkbox="true" data-checkbox-enabled="true">SELECT</th>
              <th data-field="refno" data-sortable="true">REF NO</th>
              <th data-field="building" data-sortable="true">LOCATION</th>
              <th data-field="locationtext" data-sortable="true">COMMUNITY</th>
              <th data-field="type" data-sortable="true">PURPOSE</th>
              <th data-field="subtype" data-sortable="true">TYPE</th>
              <th data-field="price" data-sortable="true">PRICE</th>
          </tr>
          </thead>
      </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" style="float: left;"  data-dismiss="modal" onclick="getproperty()">Assign</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>




  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <button class="btn btn-info" data-toggle="modal" data-target="#viewingModal">VIEWINGS</button>
      </div>
    </div>
  </div>







    <div class="container-fluid" style="padding: 10px; ">
      <br/>
      <div class="row">
        <div class="col">
          <div id="toolbar">
            {% if current_user.export == True %}
            <button onclick="get_check('properties')" class="btn btn-primary">Export</button>
            {% endif %}
            <a id="download" href="">Download</a>
            {% if current_user.viewall == True %}
            <button id="all_data" class="btn btn-danger" style="margin-left: 10px; color: white;">All</button>
            {% endif %}
            <button id="user_data" class="btn btn-warning" style="margin-left: 10px; color: white;">My Listings</button>

              <div style="margin-top: 10px;">
            
            <select name="status_category" id="status_category" class="filter_add">
              <option selected="selected" value="">Status</option>
              <option value="Available">Available</option>
              <option value="Archived">Archived</option>
              <option value="Rented">Rented</option>
              <option value="Blocked">Blocked</option>
              <option value="Moved In">Moved In</option>
              <option value="Expired">Expired</option>
              <option value="Owner Occupied">Owner Occupied</option>
              <option value="Pending">Pending</option>
              <option value="Sold">Sold</option>
              <option value="Upcoming">Upcoming</option>
              <option value="Reserved">Reserved</option>
              <option value="In process">Available ,Rented, Sold, Upcoming, Reserved, Moved In</option>
            </select>
            <select name="beds_category" id="beds_category" class="filter_add">
              <option selected="selected" value="">Beds</option>
              <option value="ST">Studio</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
            <select name="subtype_category" id="subtype_category" class="filter_add">
              <option selected="selected" value=''>Type</option>
              <option value='Villa'>Villa</option>
              <option value='Apartment'>Apartment</option>
              <option value='Loft Apartment'>Loft Apartment</option>
              <option value='Residential Floor'>Residential Floor</option>
              <option value='Residential Plot'>Residential Plot</option>
              <option value='Townhouse'>Townhouse</option>
              <option value='Residential Building'>Residential Building</option>
              <option value='Penthouse'>Penthouse</option>
              <option value='Villa Compound'>Villa Compound</option>
              <option value='Hotel Apartment'>Hotel Apartment</option>
              <option value='Office'>Office</option>
              <option value='Land'>Land</option>
              <option value='Other'>Other</option>
            </select>
            <select name="location_category" id="location_category" class="filter_add">
              <option selected="selected" value=''>Location</option>
              <option value='Abu Dhabi Gate City'>Abu Dhabi Gate City</option>
              <option value='Abu Dhabi Island'>Abu Dhabi Island</option>
              <option value='AbuDhabi-Al Ain (Highway)'>AbuDhabi-Al Ain (Highway)</option>
              <option value='Airport Road'>Airport Road</option>
              <option value='Al Ajban'>Al Ajban</option>
              <option value='Al Aman'>Al Aman</option>
              <option value='Al Aryam'>Al Aryam</option>
              <option value='Al Badaa'>Al Badaa</option>
              <option value='Al Bahia'>Al Bahia</option>
              <option value='Al Baraha'>Al Baraha</option>
              <option value='Al Barza'>Al Barza</option>
              <option value='Al Bateen'>Al Bateen</option>
              <option value='Al Bateen Al Ain'>Al Bateen Al Ain</option>
              <option value='Al Danah'>Al Danah</option>
              <option value='Al Dhafrah'>Al Dhafrah</option>
              <option value='Al Fahid Island'>Al Fahid Island</option>
              <option value='Al Falah City'>Al Falah City</option>
              <option value='Al Faya'>Al Faya</option>
              <option value='Al Ghadeer'>Al Ghadeer</option>
              <option value='Al Gurm West'>Al Gurm West</option>
              <option value='Al Hosn'>Al Hosn</option>
              <option value='Al Hudayriat Island'>Al Hudayriat Island</option>
              <option value='Al Ittihad Road'>Al Ittihad Road</option>
              <option value='Al Jubail Island'>Al Jubail Island</option>
              <option value='Al Karamah'>Al Karamah</option>
              <option value='Al Khaleej Al Arabi Street'>Al Khaleej Al Arabi Street</option>
              <option value='Al Khalidiya'>Al Khalidiya</option>
              <option value='Al Khatim'>Al Khatim</option>
              <option value='Al Khazna'>Al Khazna</option>
              <option value='Al Khubeirah'>Al Khubeirah</option>
              <option value='Al Maffraq'>Al Maffraq</option>
              <option value='Al Maha'>Al Maha</option>
              <option value='Al Maharba'>Al Maharba</option>
              <option value='Al Manaseer'>Al Manaseer</option>
              <option value='Al Manhal'>Al Manhal</option>
              <option value='Al Maqtaa'>Al Maqtaa</option>
              <option value='Al Marina'>Al Marina</option>
              <option value='Al Markaz'>Al Markaz</option>
              <option value='Al Markaziyah'>Al Markaziyah</option>
              <option value='Al Maryah Island'>Al Maryah Island</option>
              <option value='Al Mina'>Al Mina</option>
              <option value='Al Mirfa'>Al Mirfa</option>
              <option value='Al Muneera'>Al Muneera</option>
              <option value='Al Muntazah'>Al Muntazah</option>
              <option value='Al Mushrif'>Al Mushrif</option>
              <option value='Al Nahda Abu Dhabi'>Al Nahda Abu Dhabi</option>
              <option value='Al Nahyan'>Al Nahyan</option>
              <option value='Al Nahyan Camp'>Al Nahyan Camp</option>
              <option value='Al Najda Street'>Al Najda Street</option>
              <option value='Al Nasr Street'>Al Nasr Street</option>
              <option value='Al Qurm'>Al Qurm</option>
              <option value='Al Raha'>Al Raha</option>
              <option value='Al Raha Beach'>Al Raha Beach</option>
              <option value='Al Raha Gardens'>Al Raha Gardens</option>
              <option value='Al Raha Golf Gardens'>Al Raha Golf Gardens</option>
              <option value='Al Rahba'>Al Rahba</option>
              <option value='Al Rawdah'>Al Rawdah</option>
              <option value='Al Reef'>Al Reef</option>
              <option value='Al Reef Villas'>Al Reef Villas</option>
              <option value='Al Reem Island'>Al Reem Island</option>
              <option value='Al Rehhan'>Al Rehhan</option>
              <option value='Al Rideem'>Al Rideem</option>
              <option value='Al Ruwais'>Al Ruwais</option>
              <option value='Al Safarat District'>Al Safarat District</option>
              <option value='Al Samha'>Al Samha</option>
              <option value='Al Shahama'>Al Shahama</option>
              <option value='Al Shamkha'>Al Shamkha</option>
              <option value='Al Shamkha South'>Al Shamkha South</option>
              <option value='Al Shawamekh'>Al Shawamekh</option>
              <option value='Al Sila'>Al Sila</option>
              <option value='Al Sowwah'>Al Sowwah</option>
              <option value='Al Taweelah'>Al Taweelah</option>
              <option value='Al Tibbiya'>Al Tibbiya</option>
              <option value='AL Wahda'>AL Wahda</option>
              <option value='Al Wathba'>Al Wathba</option>
              <option value='Al Zaab'>Al Zaab</option>
              <option value='Al Zahraa'>Al Zahraa</option>
              <option value='Arabian Village'>Arabian Village</option>
              <option value='Bain Al Jessrain'>Bain Al Jessrain</option>
              <option value='Baniyas'>Baniyas</option>
              <option value='Between Two Bridges'>Between Two Bridges</option>
              <option value='Building Materials City'>Building Materials City</option>
              <option value='Capital Centre'>Capital Centre</option>
              <option value='City Downtown'>City Downtown</option>
              <option value='Corniche'>Corniche</option>
              <option value='Corniche Area'>Corniche Area</option>
              <option value='Corniche Road'>Corniche Road</option>
              <option value='Danet Abu Dhabi'>Danet Abu Dhabi</option>
              <option value='Defence Street'>Defence Street</option>
              <option value='Delma Street'>Delma Street</option>
              <option value='Desert Village'>Desert Village</option>
              <option value='Eastern Road'>Eastern Road</option>
              <option value='Electra Street'>Electra Street</option>
              <option value='Firdous Street'>Firdous Street</option>
              <option value='Ghantoot'>Ghantoot</option>
              <option value='Ghiyathi'>Ghiyathi</option>
              <option value='Grand Mosque District'>Grand Mosque District</option>
              <option value='Hamdan Street'>Hamdan Street</option>
              <option value='Happiness Island'>Happiness Island</option>
              <option value='Happiness Island'>Happiness Island</option>
              <option value='Hydra Village'>Hydra Village</option>
              <option value='Jawazat Street'>Jawazat Street</option>
              <option value='Khalidia'>Khalidia</option>
              <option value='Khalifa City (all)'>Khalifa City (all)</option>
              <option value='Khalifa City A'>Khalifa City A</option>
              <option value='Khalifa City B'>Khalifa City B</option>
              <option value='Khalifa City C'>Khalifa City C</option>
              <option value='Khalifa Park'>Khalifa Park</option>
              <option value='Khalifa Street'>Khalifa Street</option>
              <option value='Liwa'>Liwa</option>
              <option value='Liwa Street'>Liwa Street</option>
              <option value='Lulu Island'>Lulu Island</option>
              <option value='Madinat Al Riyad'>Madinat Al Riyad</option>
              <option value='Madinat Zayed'>Madinat Zayed</option>
              <option value='Madinat Zayed (Western Region)'>Madinat Zayed (Western Region)</option>
              <option value='Mafraq Industrial Area'>Mafraq Industrial Area</option>
              <option value='Marina Village'>Marina Village</option>
              <option value='Masdar City'>Masdar City</option>
              <option value='Mbz'>Mbz</option>
              <option value='Mina Zayed'>Mina Zayed</option>
              <option value='Mohamed Bin Zayed City'>Mohamed Bin Zayed City</option>
              <option value='Muroor Area'>Muroor Area</option>
              <option value='Musaffah Industrial Area'>Musaffah Industrial Area</option>
              <option value='Mussafah'>Mussafah</option>
              <option value='Nareel Island'>Nareel Island</option>
              <option value='New Al Marfa'>New Al Marfa</option>
              <option value='New Khalifa City'>New Khalifa City</option>
              <option value='Nurai Island'>Nurai Island</option>
              <option value='Officers Club Area'>Officers Club Area</option>
              <option value='Saadiyat Island'>Saadiyat Island</option>
              <option value='Salam Street'>Salam Street</option>
              <option value='Sas Al Nakhl'>Sas Al Nakhl</option>
              <option value='Shakhbout City'>Shakhbout City</option>
              <option value='Sheikh Zayed Bin Sultan St.'>Sheikh Zayed Bin Sultan St.</option>
              <option value='Tourist Club Area'>Tourist Club Area</option>
              <option value='World Trade Center'>World Trade Center</option>
              <option value='Yas Island'>Yas Island</option>
              <option value='Zayed City'>Zayed City</option>
              <option value='Zayed Military City'>Zayed Military City</option>
              <option value='Zayed Sports City'>Zayed Sports City</option>
            </select>
            <select name="community_category" id="community_category" class="filter_add">
              <option selected="selected" value="">Community</option>
            </select>
            <select name="purpose_category" id="purpose_category" class="filter_add">
              <option selected="selected" value="">Purpose</option>
              <option value="Sale">Sale</option>
              <option value="Rent">Rent</option>
            </select>
            <select name="listing_users" id="listing_users" class="filter_add">
              <option selected="selected" value="">Users</option>
              {% for users in all_listing_users %}
              <option value="{{users.username}}">{{users.username}}</option>
              {% endfor %}
            </select>
            
            <button id="filter_search" class="filter_add"> Search</button>
            <button id="filter_reset" class="filter_add"> Reset</button>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <table
          id="table"
          class="unselectable oswald"
          data-toggle="true"
          data-toolbar="#toolbar"
          data-search="true"
          data-show-columns="true"
          data-pagination="true"
          data-height="750"
          data-page-size="25"
          data-page-list="[25, 50, 100, 200, All]">
          </table>
        </div>
      </div>

    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <a href="/add_property/rent" class="btn btn-primary">Add Rental</a>
          <a href="/add_property/sale" class="btn btn-warning" style="margin-left: 10px; color: white;">Add Sale</a>
        </div>
      </div>
    </div>
<br>
</div>
</section>
{% endblock %}


{% block scripts %}

<script type='text/javascript'>


    $("#location_category").change(function(){
    get_location();
    });

    function get_location(){
        var comm = $("#location_category").val();
        fetch('/property/' + comm).then(function(response){
            response.json().then(function(data){
                let optionHTML = '';
                optionHTML += '<option value="">Community</option>';
                for (let location of data.locations){

               
                        optionHTML += '<option value="'+location[0]+'">'+location[1]+'</option>';
                    
                }
                document.getElementById('community_category').innerHTML = optionHTML;
            })
        })
        
    }




var refno = document.getElementById("refno");
var status = document.getElementById("status");
var type = document.getElementById("type");
var subtype = document.getElementById("subtype");
var price = document.getElementById("price");
var size = document.getElementById("size");
var commission = document.getElementById("commission");
var deposit = document.getElementById("deposit");
var assign_to = document.getElementById("assign_to");
var tenure = document.getElementById("tenure");
var title = document.getElementById("title");
var description = document.getElementById("description");
var unit = document.getElementById("unit");
var owner = document.getElementById("owner");
var owner_name = document.getElementById("owner_name");
var owner_email = document.getElementById("owner_email");
var owner_contact = document.getElementById("owner_contact");
var source = document.getElementById("source");
var completion_status = document.getElementById("completion_status");
var bathrooms = document.getElementById("bathrooms");
var bedrooms = document.getElementById("bedrooms");
var locationtext = document.getElementById("locationtext");
var building = document.getElementById("building");
var furnished = document.getElementById('furnished')
var expiry_date = document.getElementById('expiry_date')
var tenant = document.getElementById('tenant')
var parking = document.getElementById('parking')
var featured = document.getElementById('featured')
var permit_number = document.getElementById('permit_number')
var plot_size = document.getElementById('plot_size')
var rentpriceterm = document.getElementById('rentpriceterm')
var completion_status = document.getElementById('completion_status')

function view_note(x){
  fetch('/all_notes/'+x).then(function(response){
    response.json().then(function(data){
      $('#display').hide();
      $('#list_id').val(x)
      $('#notes').show()
      var jsonData = data.notes
      $(function () {
                $('#notetable').bootstrapTable('destroy')
                $('#notetable').bootstrapTable({data: jsonData});
                document.getElementById('comment').value = ''
                });
    })
  })
}

function post_note(){
      var list_id = document.getElementById('list_id').value;
      var com = document.getElementById('comment').value;
      fetch('/post_note/'+list_id+'/'+com).then(function(response){
            response.json().then(function(){
              
              view_note(list_id)
              
            })
        })
      };

$(function () {
  var view = {{viewings|tojson}};
    $('#viewing').bootstrapTable({
        data: view.reverse()
    });
});


function view_property(x){
        fetch('/all_properties/'+x).then(function(response){
          response.json().then(function(data){
            var p = data.property
            Object.keys(p[0]).map(function (key, index) {
                if (p[0][key] == null) {
                    p[0][key] = "";
                }
            });
            var x = p[0].photos
            $('#images').empty();
            $('#notes').hide();
            var imagedata = '';
            imagedata += '<div class="owl-carousel" id="owl-demo">'
   for (i = 0; i < x.length; i++) {
      if (x[i] != ''){
      imagedata += '<div class="item"><img style="height:200px;" src="' + x[i] + '"></div>'
      }
    }
    imagedata += '</div>'
            $('#images').append(imagedata);
            refno.innerHTML = p[0].refno;
            status.innerHTML = p[0].status;
            type.innerHTML = p[0].type;
            subtype.innerHTML = p[0].subtype;
            price.innerHTML = p[0].price;
            size.innerHTML = p[0].size;
            commission.innerHTML = p[0].commission;
            deposit.innerHTML = p[0].deposit;
            assign_to.innerHTML = p[0].assign_to;
            tenure.innerHTML = p[0].tenure;
            title.innerHTML = p[0].title;
            description.innerHTML = p[0].description;
            unit.innerHTML = p[0].unit;
            owner.innerHTML = p[0].owner;
            owner_name.innerHTML = p[0].owner_name;
            owner_email.innerHTML = p[0].owner_email;
            owner_contact.innerHTML = p[0].owner_contact;
            source.innerHTML = p[0].source;
            completion_status.innerHTML = p[0].completion_status;
            bathrooms.innerHTML = p[0].bathrooms;
            bedrooms.innerHTML = p[0].bedrooms;
            building.innerHTML = p[0].building;
            locationtext.innerHTML = p[0].locationtext;
            furnished.innerHTML = p[0].furnished;
            expiry_date.innerHTML = p[0].expiry_date;
            tenant.innerHTML = p[0].tenant;
            parking.innerHTML = p[0].parking;
            featured.innerHTML = p[0].featured;
            permit_number.innerHTML = p[0].permit_number;
            plot_size.innerHTML = p[0].plot_size;
            rentpriceterm.innerHTML = p[0].rentpriceterm;
            completion_status.innerHTML = p[0].completion_status;
            $('#display').show();
            $("#owl-demo").owlCarousel();
            })
        })
    };

    $(window).on('load',(function(){
      $('#display').hide();
      $('#notes').hide();

    var columns = {{columns|tojson}};
    var data = {{data|tojson}};


      $(function() {
        $('#table').bootstrapTable({ 
          data: data.reverse(),
          columns: columns,
        });
      
      


        $('#filter_search').click(function () {
        
        var test = data
        var s = $("#status_category").val();
        var b = $("#beds_category").val();
        var t = $("#subtype_category").val();
        var l = $("#location_category").val();
        var c = $("#community_category").val();
        var p = $("#purpose_category").val()
        var u = $("#listing_users").val()
        var grepFunc;
        var grepFunc2;
        var grepFunc3;
        var grepFunc4;
        var grepFunc5;
        var grepFunc6;
        var grepFunc7;


        grepFunc = function(item){
              return item.status == s;
          }

        grepFunc2 = function(item){
              return item.bedrooms == b;
          }

        grepFunc3 = function(item){
              return item.subtype == t;
          }
        
        grepFunc4 = function(item){
              return item.locationtext == l;
          }
        
        grepFunc5 = function(item){
              return item.building == c;
          }
        
        grepFunc6 = function(item){
              return item.type == p;
          }

        grepFunc7 = function(item){
              return item.assign_to == u;
          }

        if (s != "")
        {test = $.grep(test, grepFunc)}

        if (b != "")
        {test = $.grep(test, grepFunc2)}

        if (t != "")
        {test = $.grep(test, grepFunc3)}

        if (l != "")
        {test = $.grep(test, grepFunc4)}

        if (c != "")
        {test = $.grep(test, grepFunc5)}
        
        if (p != "")
        {test = $.grep(test, grepFunc6)}

        if (u != "")
        {test = $.grep(test, grepFunc7)}

          $('#table').bootstrapTable('load', test);
        })
        
        $('#filter_reset').click(function () {
        $('#table').bootstrapTable('load', data)
        $("#status_category").val("");
        $("#beds_category").val("");
        $("#subtype_category").val("");
        $("#location_category").val("");
        $("#community_category").val("");
        $("#purpose_category").val("");
        })

 

        $('#user_data').click(function () {
                    var grepFunc;
                            grepFunc = function (item) {
                              return item.assign_to == '{{user}}' 
                     };
                    $('#table').bootstrapTable('load', $.grep(data, grepFunc));
                });
        $('#all_data').click(function () {
                    var grepFunc;
                            grepFunc = function (item) {
                                return true;
                            };
                            
                    $('#table').bootstrapTable('load', $.grep(data, grepFunc));
                });
   

      
      
      
      });
      }));

 
  



    function get_properties(){
        fetch('/all_properties').then(function(response){
            response.json().then(function(data){
                let newtable = '';
                var jsonData = data.all_properties
                $(function () {
                var $table = $('#property_table').bootstrapTable({data: jsonData});
   
                $('#pr').click(function () {
                    var grepFunc;
                    category = $("#ty").val();
                    min = $("#mil").val();
                    if (min == "")
                    {min = 0}
                    max = $("#mal").val();
                    if (max == "")
                    {max = 9999999}
                            grepFunc = function (item) {
                                if (category == "")
                                { return item.price >= min && item.price <= max }
                                else
                                {return item.price >= min && item.price <= max && item.subtype == category;}
                            };
                    $table.bootstrapTable('load', $.grep(jsonData, grepFunc));
                });

                $('#reset').click(function () {
                    var grepFunc;
                            grepFunc = function (item) {
                                return true;
                            };
                            
                    $table.bootstrapTable('load', $.grep(jsonData, grepFunc));
                });
 

                });
            })
        })
    }

    function getproperty(){
    var data = $('#property_table').bootstrapTable('getSelections');
    var lists = ""
    for (var i = 0; i < data.length; i++) {
      lists += data[i].refno+","
      }
    var lead_id = $("#assign_id").val()
    var lead_no = $("#assign_lead").val()
    fetch('/assign_viewing/'+lead_id+"/"+lead_no+"/"+lists.slice(0, -1)).then(function(response){
    response.json().then(function(data){
      location.reload();
    })
  })
}


    window.onload = get_properties();





function assign(x,y){
  $("#assign_id").val(x)
  $("#assign_lead").val(y)
}
    

  </script>





  <style type='text/css'>


    .row-index {
      width: 50px;
      display: inline-block;
    }
    #owl-demo .item{
      margin: 3px;
    }
    #owl-demo .item img{
      display: block;
    }
 </style>
{% endblock %}